<div class="flex w-full justify-end mt-2">
    <div class="">
    <button type="button" class="p-2 m-6 rounded text-white bg-gradient-to-r from-orange-600 via-rose-600 to-pink-600" onclick="location.href='/logout'">Log out</button>
    </div>
</div>