<!doctype html>
<html lang="es">

<head>
    <%-include('../partials/head.ejs')%>
</head>
<body>
    <section class="gradient-form h-screen bg-neutral-200 dark:bg-neutral-700 items-center justify-center flex">
        <div class="container h-full w-fit p-10">
            <div class="flex pt-36 h-full items-center justify-center overflow-y-scroll rounded">
                <div class="w-fit">
                    <div class="rounded-lg bg-white shadow-lg">
                        <div class="g-0 lg:flex justify-center">
                            <div class="px-4 md:px-0">
                                <div class="md:mx-6 md:p-12">
                                    <div class="text-center">
                                        <h4 class="mt-1 mb-12 pb-1 text-xl font-semibold">
                                            Backend e-commerce
                                        </h4>
                                    </div class="flex" >
                                    <form id="registerForm" action="/register" method="post" enctype="multipart/form-data">
                                        <p class="mb-4">Please register an account</p>
                                        <div class="mb-4 relative group">
                                            <input type="text" name="nombre" id="nombre" required
                                                class="border rounded w-full h-10 px-4 text-sm peer outline-none">
                                            <label for="nombre"
                                                class="transform transition-all absolute top-0 left-0 h-full flex items-center pl-2 text-neutral-200 group-focus-within:text-orange-600 group-focus-within:text-xs peer-valid:text-xs group-focus-within:h-1/2 peer-valid:h-1/2 group-focus-within:-translate-y-full peer-valid:-translate-y-full group-focus-within:pl-0 peer-valid:pl-0">Name</label>
                                        </div>
                                        <div class="mb-4 relative group">
                                            <input type="text" name="direccion" id="direccion" required
                                                class="border rounded w-full h-10 px-4 text-sm peer outline-none">
                                            <label for="direccion"
                                                class="transform transition-all absolute top-0 left-0 h-full flex items-center pl-2 text-neutral-200 group-focus-within:text-orange-600 group-focus-within:text-xs peer-valid:text-xs group-focus-within:h-1/2 peer-valid:h-1/2 group-focus-within:-translate-y-full peer-valid:-translate-y-full group-focus-within:pl-0 peer-valid:pl-0">adress</label>
                                        </div>
                                        <div class="mb-4 relative group">
                                            <input type="number" name="edad" id="edad" required
                                                class="border rounded w-full h-10 px-4 text-sm peer outline-none">
                                            <label for="edad"
                                                class="transform transition-all absolute top-0 left-0 h-full flex items-center pl-2 text-neutral-200 group-focus-within:text-orange-600 group-focus-within:text-xs peer-valid:text-xs group-focus-within:h-1/2 peer-valid:h-1/2 group-focus-within:-translate-y-full peer-valid:-translate-y-full group-focus-within:pl-0 peer-valid:pl-0">Age</label>
                                        </div>
                                        <div class="mb-4 relative group">
                                            <input type="tel" name="telefono" id="telefono" required
                                                class="border rounded w-full h-10 px-4 text-sm peer outline-none">
                                            <label for="telefono"
                                                class="transform transition-all absolute top-0 left-0 h-full flex items-center pl-2 text-neutral-200 group-focus-within:text-orange-600 group-focus-within:text-xs peer-valid:text-xs group-focus-within:h-1/2 peer-valid:h-1/2 group-focus-within:-translate-y-full peer-valid:-translate-y-full group-focus-within:pl-0 peer-valid:pl-0">Phone
                                                number</label>
                                        </div>
                                        <div class="mb-4 relative">
                                            <label  for="photo"></label>
                                            <input  name="photo" id="photo" type="file">
                                        </div>
                                        <div class="mb-4 relative group">
                                            <input type="email" name="email" id="email" required
                                                class="border rounded w-full h-10 px-4 text-sm peer outline-none">
                                            <label for="email"
                                                class="transform transition-all absolute top-0 left-0 h-full flex items-center pl-2 text-neutral-200 group-focus-within:text-orange-600 group-focus-within:text-xs peer-valid:text-xs group-focus-within:h-1/2 peer-valid:h-1/2 group-focus-within:-translate-y-full peer-valid:-translate-y-full group-focus-within:pl-0 peer-valid:pl-0">Email</label>
                                        </div>
                                        <div class="mb-4 relative group">
                                            <input type="password" name="password" id="password" required
                                                class="border rounded w-full h-10 px-4 text-sm peer outline-none">
                                            <label for="password"
                                                class="transform transition-all absolute top-0 left-0 h-full flex items-center pl-2 text-neutral-200 group-focus-within:text-orange-600 group-focus-within:text-xs peer-valid:text-xs group-focus-within:h-1/2 peer-valid:h-1/2 group-focus-within:-translate-y-full peer-valid:-translate-y-full group-focus-within:pl-0 peer-valid:pl-0">Password</label>
                                        </div>
                                        <div class="mb-4 relative group">
                                            <input type="password" name="confirmPassword" id="confirmPassword" required
                                                class="border rounded w-full h-10 px-4 text-sm peer outline-none">
                                            <label for="confirmPassword"
                                                class="transform transition-all absolute top-0 left-0 h-full flex items-center pl-2 text-neutral-200 group-focus-within:text-orange-600 group-focus-within:text-xs peer-valid:text-xs group-focus-within:h-1/2 peer-valid:h-1/2 group-focus-within:-translate-y-full peer-valid:-translate-y-full group-focus-within:pl-0 peer-valid:pl-0">Password</label>
                                        </div>
                                        <div class="mb-12 pt-1 pb-1 text-center">
                                            <button
                                                class="mb-3 inline-block w-full rounded px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal bg-gradient-to-r from-orange-600 via-rose-600 to-pink-600 text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
                                                type="submit" id="btnRegister">
                                                Sign up
                                            </button>
                                        </div>
                                        <div class="flex items-center justify-between pb-6">
                                            <p class="mb-0 mr-2">Have an account?</p>
                                            <button type="button" id="goToLogin" onclick="location.href='/login'"
                                                class="inline-block rounded border-2 border-danger px-6 pt-2 pb-[6px] text-xs font-medium uppercase leading-normal bg-clip-text bg-gradient-to-r from-orange-600 via-rose-600 to-pink-600 hover:text-white hover:bg-clip-border hover:bg-gradient-to-r from-orange-600 via-rose-600 to-pink-600">
                                                Login
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <script>
        const registerForm = document.getElementById('registerForm');
        registerForm.addEventListener('submit', (event) => {
            const password = registerForm.password.value;
            const confirmPassword = registerForm['confirmPassword'].value;
            if (password !== confirmPassword) {
                alert('Las contraseñas no coinciden')
                event.preventDefault()
                registerForm.password.value = ''
            registerForm['confirmPassword'].value = ''
            }
        })
    </script>
</body>

</html>